<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Add User</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users">View Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav> 
	<div class="container mt-5">
		<h3>User Account Form</h3>
		<p th:text="${msg}" class="text-success"></p>
		<form th:action="@{/save-user}" th:object="${user}" method="post">
			<table>
				<tr>
					<td>FullName:</td>
					<td><input type="text" th:field="*{fullName}"  required/></td>
					<td><input type="hidden" th:field="*{userId}"/></td>
				</tr>

				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" required/></td>
				</tr>

				<tr>
					<td> Phno:</td>
					<td><input type="number" th:field="*{phno}" required/></td>
				</tr>

				<tr>
					<td>ssn:</td>
					<td><input type="number" th:field="*{ssn}" required/></td>
				</tr>

				<tr>
					<td>DOB:</td>
					<td><input type="date" th:field="*{dob}" required/></td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td><input type="radio" th:field="*{gender}" value="M" />Male:<input type="radio" th:field="*{gender}"
							value="F" />Fe-Male:</td>
				</tr>
				
				
				<tr>
					<td><input class="btn btn-primary" type="submit" value="submit" /></td>
					<td><input class="btn btn-danger" type="reset" value="reset" /></td>
				</tr>

			</table>



			
		</form>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

</body>

</html>